
.m_line {
    border-top: 1px solid #eff2f4;
}

.m_line_b {
    border-top: 1px solid #f0f2f4;
}

.m_line_das {
    border-top: 1px dashed #dcdcdc;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w450 {
    width: 450px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml110 {
    margin-left: 110px;
}

.ml150 {
    margin-left: 150px;
}

.mr40 {
    margin-right: 40px;
}

.w80 {
    width: 80px;
}

.m_c0 {
    color: #666;
}

.m_c1 {
    color: #f81c5a;
}

.m_c2 {
    color: #999;
}

.m_c3 {
    color: #2f97b4;
}

.m_c4 {
    color: #ff0000;
}

.m_c5 {
    color: #000;
}

.m_mar_auto {
    margin: 0 auto;
}

.m_bj1 {
    background: #f9f9f9;
}

/*安全中心首页*/
.m_sec_l {
    width: 350px;
    float: left;
}

.m_sec_top {
    width: 300px;
    background: #f9f9f9;
    border: 1px dashed #c6d4d8;
    padding: 10px 22px;
    margin-bottom: 10px;
}

.m_sec_r {
    width: 360px;
    float: right;
    margin: 0;
    padding: 0;
}

.m_sec_r ul {
    margin: 0;
    padding: 0;
}

.m_sec_r li {
    float: left;
    margin-right: 15px;
}

.m_s_pic img {
    width: 67px;
    height: 66px;
    padding: 2px;
    border: 1px solid #efefef;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.m_sec_c li {
    margin-bottom: 10px;
    border: 1px solid #f0f2f4;
    padding: 12px 15px;
}

.pd_send_code {
    line-height: 22px;
}

/*安全中心-地址管理首页*/
.m_add a {
    padding: 2px 10px 1px 10px;
}

.m_add .on {
    background: #f81c5a;
    color: #fff;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.m_add_cj {
    background: url(../images/i_3.0_5.png) no-repeat 0 -96px;
    display: inline-block;
    text-align: center;
    width: 90px;
}

.m_add_cj:hover {
    background-position: 0 -117px;
}

.m_add_c li {
    border: 1px solid #eef1f3;
    position: relative;
    margin-bottom: 10px;
    position: relative;
}

.m_add_c dl {
    padding: 12px;
}

.m_add_c .m_close {
    background: url(../images/new/m_coles.png) no-repeat 0 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 14px
}

.m_add_c .m_close_one {
    position: absolute;
    right: 10px;
    top: 60px;
    color: #F00;
    font-size: 14px;
}

.m_add_c .m_close_two {
    position: absolute;
    right: 10px;
    top: 60px;
    color: #dadada;
    font-size: 14px;
    cursor: text;
}

.m_add_dl {
    margin-left: 20px;
    line-height: 25px;
    color: #666;
}

.m_add_p {
    background: #f9f9f9;
    padding: 10px 30px;
}

/*安全中心-地址管理首页-创建新地址*/
.input-text-3 {
    width: 55px;
    height: 14px;
    padding: 3px;
    line-height: 14px;
    border: 1px solid #efefef;
    border-top: 1px solid #d5d5d5;
}

/*安全中心_人工服务_更改绑定手机-填写申请信息*/
.m_id_card {
    width: 78px;
    height: 48px;
    display: inline-block;
    background: url(../images/new/m_sfz.png) no-repeat center center;
    padding: 1px 0;
    border: 1px solid #efefef;
    position: relative;
    cursor: pointer
}

.m_id_card:hover {
    background: url(../img/sfz.jpg) no-repeat;
    width: 206px;
    height: 138px;
    position: static;
    top: 0;
    left: 0;
    z-index: 99999;
}

.textarea03 {
    width: 500px;
    height: 100px;
    line-height: 20px;
    overflow: scroll-y;
    overflow: scroll-x;
    padding: 3px;
    color: #999;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.textarea03:focus {
    border: 1px solid #9bcfdd;
    background: #fbfbfb;
}

/*安全中心_安全中心首页-未开通-未绑定手机*/
.m_sec_mkt {
    line-height: 100px;
}

/*安全中心_输入错误提示*/
#m_border_red {
    border: 1px solid #F00;
}

#m_select_red {
    color: #F00;
}

/*安全中心_重新发送验证码*/
.m_resend {
    background: url(../images/i_3.0_5.png) no-repeat 0 -54px;
    display: inline-block;
    width: 172px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    cursor: text;
    color: #989898;
}

.m_resend:hover {
    background-position: 0 -75px;
    color: #989898;
}

/*安全中心_身份证*/
.sit-preview-block {
    position: absolute;
    display: none;
}

.sit-preview-block img {
    margin: 0;
    border: 0;
    max-width: 100%;
    height: auto;
    display: block
}

/*安全中心_各种弹窗*/
.m_pop_bor {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.m_pop_pad {
    padding: 20px 20px;
    line-height: 35px;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/E\:\/xampp\/htdocs\/20161026-常用观演人\/2016-1129pc\/html\/less\/helpers\/_functions\.less
    }

    line {
        font-family: \00003171
    }
}

.z-hide {
    display: none;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/E\:\/xampp\/htdocs\/20161026-常用观演人\/2016-1129pc\/html\/less\/helpers\/_functions\.less
    }

    line {
        font-family: \00003175
    }
}

.z-show {
    display: block;
}

.damai-btn {
    margin: 40px 0 100px 212px;
}

.damai-succ {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.damai-succ .m-succ {
    display: block;
    background: url(../images/m-succ.png) no-repeat center center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.damai-succ .tt {
    font-size: 14px;
    margin: 25px 0 20px;
}

.damai-succ .damai-return {
    color: #ea244e;
    text-decoration: underline;
}

.damai-btn1 {
    text-align: center;
    margin: 40px 0 60px;
}

.damai-layer {
    position: fixed;
    position: _absolute;
    background: #fff;
    width: 250px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -70px;
    z-index: 300000;
}

.damai-layer .bd {
    text-align: center;
    margin-top: 30px;
    color: #524d4d;
}

.damai-layer .bd .tt {
    margin-bottom: 18px;
}

.damai-layer .ft {
    text-align: center;
}

.c11 {
    text-decoration: underline;
    color: #ea2050;
}