* {
  margin: 0;
  padding: 0;
}

.crop {
  overflow: hidden;
}
.dm-crop {
  zoom: 1;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.dm-crop:after {
  content: '';
  display: block;
  clear: both;
}

.dm-crop .dm-crop-btn {
  background-color: #e51b46;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-transition: .3s all ease;
}

.dm-crop .dm-crop-btn:hover {
  color: #fff;
  background-color: #f42155;
}

.dm-crop .dm-crop-text {
  font-size: 12px;
  color: #666;
}

.dm-crop .dm-crop-main {
  position: relative;
  float: left;
  border: 1px solid #E2E2E2;
}

.dm-crop .dm-crop-side {
  float: left;
  padding-left: 50px;
}

.dm-crop .dm-crop-canvas {
  display: block;
}

.dm-crop .dm-crop-canvas_move {
  cursor: move;
}

.dm-crop .dm-crop-canvas_hover {
  cursor: pointer;
}

.dm-crop .dm-crop-canvas_resize-nw {
  cursor: nw-resize;
}

.dm-crop .dm-crop-canvas_resize-ne {
  cursor: ne-resize;
}

.dm-crop .dm-crop-canvas_resize-se {
  cursor: se-resize;
}

.dm-crop .dm-crop-canvas_resize-sw {
  cursor: sw-resize;
}

.dm-crop .dm-crop-upload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.dm-crop .dm-crop-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dm-crop .dm-crop-picker {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 150px;
  height: 100px;
  margin-top: -50px;
  margin-left: -75px;
  border-radius: 5px;
  background-color: #fff;
}

.dm-crop .dm-crop-btn__upload {
  position: relative;
  overflow: hidden;
}

.dm-crop .dm-crop-btn__upload:hover {
  color: #fff;
}

.dm-crop .dm-crop-btn__upload input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.dm-crop .dm-crop-picker__text {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}

.dm-crop .dm-crop-btn {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.dm-crop .dm-crop-preview {
  width: 150px;
  height: 150px;
  border: 1px solid #E2E2E2;
}

.dm-crop .dm-crop-preview__image {
  display: block;
  width: 150px;
  height: 150px;
}

.dm-crop .dm-crop-side .dm-crop-row {
  text-align: center;
  padding-bottom: 20px;
}

.dm-crop .dm-crop-preview__text {
  font-size: 14px;
  color: #333;
}

.dm-crop .dm-crop-upload_hide {
  display: none;
}