<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--引入其它的分配置文件-->
    <!--导入类路径下的spring文件夹下面的所有的以spring-开头的并且类型为xml的文件-->
    <import resource="classpath:spring/spring-*.xml"/>

</beans>