.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.z-hide {
    display: none
}

.z-show {
    display: block
}

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.z-hide {
    display: none
}

.z-show {
    display: block
}

.txt {
    color: #666;
    display: inline
}

.txt-muted {
    color: #999
}

.txt-primary {
    color: #4d98ba
}

.txt-danger {
    color: #ed0a75
}

.u-radio .txt,.u-radio .txta *,.u-radio input,.u-radio inputa * {
    vertical-align: middle
}

.u-radio input {
    margin-right: 10px
}

.u-ipt {
    padding: 2px 5px;
    border: 1px solid #bbb;
    margin-right: 5px!important;
    height: 23px;
    line-height: 23px
}

.u-ipt-sm {
    width: 80px
}

.u-ipt-md {
    width: 150px
}

.u-ipt-lg {
    width: 260px
}

.u-ipt-lg-text {
    width: 480px
}

.itm-text {
    margin-right: 10px
}

.u-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-decoration: none
}

.u-btn:active {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.u-btn.z-dis {
    color: #111;
    cursor: default
}

.u-btn-sm {
    padding: 0 10px;
    line-height: 20px
}

.u-btn-sm.u-btn-rds {
    border-radius: 3px
}

.u-btn-lg {
    padding: 0 30px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 700
}

.u-btn-lg.u-btn-rds {
    border-radius: 3px
}

.u-btn-c1 {
    background-image: -webkit-linear-gradient(top #ed0a75 #ed0a75);
    background-image: linear-gradient(top #ed0a75 #ed0a75);
    background-image: -webkit-linear-gradient(top,#ed0a75,#ed0a75);
    background-image: linear-gradient(top,#ed0a75,#ed0a75);
    color: #fff;
    background-color: #ed0a75;
    padding: 5px 30px
}

.u-btn-c1:hover {
    background-image: -webkit-linear-gradient(top #ce0865 #ce0865);
    background-image: linear-gradient(top #ce0865 #ce0865);
    background-image: -webkit-linear-gradient(top,#ce0865,#ce0865);
    background-image: linear-gradient(top,#ce0865,#ce0865);
    color: #fff
}

.u-btn-c2 {
    background-image: -webkit-linear-gradient(top #ed0a75 #ed0a75);
    background-image: linear-gradient(top #ed0a75 #ed0a75);
    background-image: -webkit-linear-gradient(top,#ed0a75,#ed0a75);
    background-image: linear-gradient(top,#ed0a75,#ed0a75);
    color: #fff;
    background-color: #ed0a75;
    border: 1px solid #ed0a75;
    box-shadow: inset 1px 1px 0 #fb86a0,inset -1px -1px 0 #fb86a0;
    padding: 2px 30px
}

.u-btn-c2:hover {
    background-image: -webkit-linear-gradient(top #ce0865 #ce0865);
    background-image: linear-gradient(top #ce0865 #ce0865);
    background-image: -webkit-linear-gradient(top,#ce0865,#ce0865);
    background-image: linear-gradient(top,#ce0865,#ce0865);
    color: #fff
}

.u-btn-c2.z-dis {
    color: #666;
    cursor: default;
    background: #999;
    border: 1px solid #999;
    box-shadow: inset 1px 1px 0 #999,inset -1px -1px 0 #999
}

.u-btn-c3 {
    background-image: -webkit-linear-gradient(top #efeff7 #dddee6);
    background-image: linear-gradient(top #efeff7 #dddee6);
    background-image: -webkit-linear-gradient(top,#efeff7,#dddee6);
    background-image: linear-gradient(top,#efeff7,#dddee6);
    color: #999;
    background-color: #efeff7;
    border: 1px solid #dddee6;
    box-shadow: inset 1px 1px 0 #e7eff0,inset -1px -1px 0 #e7eff0;
    padding: 2px 30px
}

.u-btn-c3:hover {
    background-image: -webkit-linear-gradient(top #dddee6 #efeff7);
    background-image: linear-gradient(top #dddee6 #efeff7);
    background-image: -webkit-linear-gradient(top,#dddee6,#efeff7);
    background-image: linear-gradient(top,#dddee6,#efeff7);
    color: #999
}

body .new-tips {
    border: 1px solid #fcf0ca;
    background: #fdf7e4 url(//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/new_tips.png) no-repeat 5px 3px;
    padding-right: 10px;
    display: inline-block;
    margin-top: 5px
}

.new-link-c {
    color: #fff!important;
    padding: 0 20px!important
}

.m-modal .invoice .bd .m-m-newinp {
    vertical-align: top!important
}

.new-itm-m {
    position: relative
}

.new-itm-m .ico-danger,.new-itm-m .ico-succ,.new-itm-m .ico-warn {
    position: absolute;
    top: 9px;
    right: 131px
}

.new-itm-m .txt {
    position: absolute;
    top: 7px;
    right: 11px
}

.u-select {
    height: 24px;
    line-height: 24px;
    border: 1px solid #bbb
}

.u-select-lg {
    width: 270px
}

.u-checkbox .txt,.u-checkbox input {
    vertical-align: text-bottom
}

.u-checkbox .txt,.u-checkbox .txta *,.u-checkbox input,.u-checkbox inputa * {
    vertical-align: middle
}

.u-checkbox .txt {
    padding-left: 3px
}

.u-checkbox input {
    margin-right: 10px
}

.m-collapse-1>.hd {
    padding-bottom: 10px
}

.m-collapse-1 .ico-expanded {
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    margin-right: 10px
}

.m-collapse-1 .z-open .ico-expanded {
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/i.png') no-repeat -189px -417px
}

.m-collapse-1 .z-close .ico-expanded {
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/i.png') no-repeat -189px -392px
}

.m-collapse .u-ipt {
    height: auto!important
}

.m-table {
    width: 100%
}

.m-table-c1 td,.m-table-c1 th {
    background-color: #f4f9fe;
    line-height: 24px;
    color: #666;
    text-align: center
}

.m-table-c1 th {
    padding: 5px 10px
}

.m-table-c1 td {
    padding: 8px 10px;
    border: 2px solid #fff
}

.m-table .total {
    text-align: right;
    background: #fff
}

.m-table .total1 {
    text-align: left;
    background: #fff
}

.m-table-1 {
    margin: 0 auto 20px;
    padding: 0 28px
}

.m-table-1 .hd {
    margin: 0 1px 20px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    border-bottom: 3px solid #ed0a75
}

.m-table-1 .hd li {
    float: left;
    width: 179px;
    text-align: center
}

.m-table-1 .bd {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #e6e6e6;
    background: #f7fcff;
    background: #f4f9fe
}

.m-table-1 .bd td {
    width: 179px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border-right: 1px solid #e7f7ff
}

.m-table-1 .bd td b {
    color: #ed0a75
}

.m-table-1 .bd,.m-table-1 .hd li {
    width: 169px!important
}

.m-table-1 .bd td {
    line-height: 25px
}

.m-table-2 {
    margin-top: 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 100px
}

.m-table-2 a,.m-table-3 a,.m-table-4 a {
    color: #4d98ba;
    text-decoration: none;
    margin: 0 5px
}

.m-table-2 .bd {
    background: #f4f9fe;
    float: left;
    width: 960px
}

.m-table-2 .w1 {
    width: 360px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.m-table-2 .w2,.m-table-2 .w3,.m-table-2 .w4,.m-table-2 .w5 {
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center
}

.m-table-2 .td li,.m-table-2 .th li {
    float: left;
    background: #f4f9fe;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box
}

.m-table-2 li,.m-table-3 li,.m-table-4 li {
    list-style: none
}

.m-table-3 {
    margin-top: 20px
}

.m-table-3 .bd .left {
    float: left;
    width: 737px
}

.m-table-3 .center {
    margin-left: 600px;
    box-sizing: border-box;
    border-left: 1px solid #fff
}

.m-table-3 .left,.m-table-4 .center {
    height: auto!important;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    box-sizing: border-box
}

.m-table-3 .hd-1 {
    background: #fff;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    width: 736px;
    clear: both;
    overflow: hidden
}

.m-table-3 .hd {
    font-weight: 400
}

.m-table-3 .w1 {
    width: 456px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis
}

.m-table-3 .w1,.m-table-3 .w2 {
    height: 28px;
    line-height: 28px;
    text-align: center
}

.m-table-3 .w2 {
    width: 280px
}

.m-table-3 .w3 {
    width: 220px;
    hheight: 28px;
    line-height: 28px
}

.m-table-3 .center .td,.m-table-3 .tt,.m-table-3 .w3 {
    text-align: center
}

.m-table-3 .tt {
    width: 220px;
    height: 196px;
    line-height: 196px
}

.m-table-3 dl {
    overflow: hidden
}

.m-table-3 .wfff1 {
    width: 223px;
    height: 88px;
    line-height: 88px;
    text-align: center;
    background: #fff
}

.m-table-3 .td li {
    float: left;
    background: #f4f9fe;
    border-bottom: 1px solid #fff
}

.m-table-3 .td .tt,.m-table-3 .td li {
    border-right: 1px solid #fff;
    box-sizing: border-box
}

.m-table-3 .td li dd,.m-table-3 .th li dd {
    float: left;
    width: 135px;
    line-height: 28px;
    height: 28px
}

.m-table-3 .lst-1 {
    display: block;
    overflow: hidden;
    clear: both;
    background-color: #fff;
    box-sizing: border-box
}

.m-table-3 .lst-1 .lstm .lst {
    float: left;
    margin-right: 60px;
    color: #666
}

.m-table-3 .lst-1 .lstm .lst .lab {
    margin-right: 20px;
    line-height: 30px
}

.m-table-4 {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    box-sizing: border-box
}

.m-table-4 .w1 {
    width: 456px;
    overflow: hidden;
    border-left: 1px solid #fff;
    box-sizing: border-box
}

.m-table-4 .w1,.m-table-4 .w2 {
    height: 28px;
    line-height: 28px;
    text-align: center
}

.m-table-4 .w2 {
    width: 280px
}

.m-table-4 .w3 {
    width: 220px;
    height: 28px;
    line-height: 28px;
    text-align: center
}

.m-table-4 .td li,.m-table-4 .th li {
    float: left;
    background: #f4f9fe;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    box-sizing: border-box
}

.m-table-4 .hd-1 {
    background: #fff;
    height: 28px;
    line-height: 28px;
    font-weight: 400;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    width: 736px;
    clear: both;
    overflow: hidden
}

.m-table-5 .w1 {
    text-align: left!important;
    padding: 0 20px!important;
    height: auto!important;
    text-overflow: ellipsis!important;
    display: table-cell!important
}

.m-table-5 .w1 p {
    line-height: 20px
}

.m-table-5 .w2 {
    width: 180px!important
}

.m-table-5 .w2 p {
    line-height: 20px
}

.m-table-5 .w3,.m-table-5 .w4 {
    width: 135px!important
}

.shopping .pay .hd li {
    width: 186px!important
}

.ticketInfo td {
    width: 195px!important
}

.new_box {
    width: 830px;
    background: #f6f6f6;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
    padding: 5px;
    position: fixed;
    top: 210px;
    left: 140px;
    z-index: 999
}

.new_box table {
    width: 100%;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    background: #fff!important
}

.new_box th {
    color: #333
}

.new_box td,.new_box th {
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border: 1px solid #e6e6e6
}

.new_box td {
    color: #666
}

.new_box:before {
    border: 10px solid transparent;
    border-bottom: 10px solid #f6f6f6;
    width: 0;
    height: 0;
    position: absolute;
    content: ' ';
    top: -20px;
    right: 152px
}

.tishi {
    font-size: 12px;
    padding-left: 15px;
    color: #666
}

.new-link {
    color: #4d98be;
    text-decoration: none;
    font-size: 12px;
    float: right;
    padding-right: 20px
}

.new-link:hover {
    color: #ed0a75
}

.new-hb {
    float: right;
    padding-right: 20px
}

.new-dl {
    background: #f4f9fe;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    height: 28px;
    line-height: 28px;
    width: 99.7%!important;
    overflow: hidden
}

.m-form .f-tal {
    text-align: left
}

.m-form .f-fwb {
    font-weight: 700
}

.m-form .group .u-btn,.m-form .group .u-ipt,.m-form .group .u-radio,.m-form .group .u-select {
    margin-right: 5px
}

.m-form .itm {
    zoom: 1;
    padding-bottom: 5px
}

.m-form .itm:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: '.'
}

.m-form .itm-1 {
    padding-left: 86px
}

.m-form .itm-2 {
    padding: 0 15px
}

.m-form .lab {
    float: left;
    width: 86px;
    text-align: right;
    color: #333
}

.m-form .lab-1 {
    font-weight: 700;
    width: auto;
    text-align: left
}

.m-form .ico {
    margin-right: 5px;
    vertical-align: sub;
    margin-top: 5px
}

.m-form .txt {
    *display: inline;
    *zoom: 1;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    max-width: 400px
}

.m-form .txt,.m-form .txta * {
    vertical-align: middle
}

.m-form .new-txt {
    vertical-align: top!important
}

.m-form .u-ipt,.m-form .u-select {
    margin-right: 10px
}

.m-form .u-select {
    margin: 2px 10px 2px 0;
    height: 25px;
    line-height: 25px
}

.m-form-1 {
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6
}

.m-form-1,.m-form-1 .lab {
    color: #666
}

.m-form-1 .itm {
    padding-bottom: 0
}

.m-form-1 .lab {
    text-align: left;
    font-weight: 700;
    width: auto
}

.m-form-2 {
    position: relative;
    padding: 15px;
    border: 1px solid #ececec
}

.m-form-2:before {
    content: '';
    position: absolute;
    left: 35px;
    top: -6px;
    width: 9px;
    height: 6px;
    display: block;
    overflow: hidden;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/i.png') no-repeat -155px -370px
}

.m-panel {
    width: 960px;
    margin: 0 auto 15px;
    line-height: 24px;
    overflow: hidden
}

.m-panel img {
    margin-top: 10px
}

.m-panel .l-t-r {
    color: #ed0a75;
    margin: 0 5px
}

.m-panel .txt-danger {
    color: #ed0a75
}

.m-panel .txt-primary {
    color: #4d98ba
}

.m-panel .txt-primary:hover {
    color: #ed0a75
}

.m-panel .tips {
    line-height: 24px;
    padding: 3px 5px
}

.m-panel .tips,.m-panel .tipsa * {
    vertical-align: middle
}

.m-panel .tips .ico,.m-panel .tips .txt {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.m-panel .tips .ico,.m-panel .tips .icoa *,.m-panel .tips .txt,.m-panel .tips .txta * {
    vertical-align: middle
}

.m-panel .tips .ico {
    margin: 0 10px 0 5px
}

.m-panel .tips-warn {
    border: 1px solid #ffcc8b;
    background-color: #fffaed
}

.m-panel .form select {
    height: 24px;
    line-height: 24px
}

.m-panel .streetRegion {
    width: 270px!important
}

.m-panel-default>.hd {
    position: relative;
    border-bottom: 2px solid #d7d7d7
}

.m-panel-default>.hd:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 0;
    width: 154px;
    border-bottom: 2px solid #ed0a75
}

.m-panel-default>.hd .tt {
    color: #ed0a75;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px
}

.m-panel-default>.bd {
    padding-top: 10px
}

.m-panel-default>.bd .txt-l {
    color: #4d98ba
}

.m-panel-default>.bd .ipt {
    position: relative
}

.m-panel-default>.bd .tip {
    color: #666;
    background-color: #fffaed;
    border: 1px solid #ffcc8b;
    padding: 5px 10px;
    margin: 10px 0;
    display: inline-block
}

.m-panel-default>.bd .tips {
    border: 1px solid #ffcc8b;
    background-color: #fffaed;
    padding: 5px
}

.m-panel-default>.bd .m-peopel {
    padding-bottom: 10px;
    border-bottom: 1px dashed #d7d7d7
}

.m-panel-default>.bd .m-peopel itm .lab {
    margin-right: 10px
}

.m-panel-default>.bd .m-peopel itm .tt {
    color: #bbb;
    margin-left: 10px
}

.m-panel-default>.bd .m-peopel .ltm {
    margin: 15px 0
}

.m-panel-default>.bd .m-peopel .ltm .lab {
    margin-right: 10px
}

.m-panel-default>.bd .m-peopel .ltm .tt {
    color: #bbb;
    margin-left: 10px
}

.m-panel-default>.bd .m-peopel .lstm {
    float: left;
    margin-right: 60px;
    color: #bbb
}

.m-panel-default>.bd .m-peopel .lstm .lab {
    margin-right: 20px;
    line-height: 30px
}

.m-panel-default>.bd .m-peopel:after {
    content: '';
    display: block;
    height: 0;
    clear: both
}

.m-panel-default .m-def-t1 {
    border: 1px solid #ffdfb7;
    background: #fff url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/i.png') no-repeat -179px -618px;
    margin-bottom: 10px;
    padding-left: 25px;
    width: auto;
    display: inline-flex;
    padding-right: 20px
}

.m-panel-default .m-m-newinp {
    height: 25px!important;
    line-height: 25px!important;
    display: block;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.m-panel-default .m-m-newinp .arrow-bottom {
    position: relative;
    float: right
}

.m-panel-default .m-m-newinp .arrow-bottom .bottom {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -2px;
    top: 7px;
    z-index: 2
}

.m-panel-default .m-m-newinp .arrow-bottom .bottom-arrow1,.m-panel-default .m-m-newinp .arrow-bottom .bottom-arrow2 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border-bottom: 5px dashed transparent;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-top: 5px solid #fff;
    overflow: hidden
}

.m-panel-default .m-m-newinp .arrow-bottom .bottom-arrow1 {
    top: 1px;
    border-top: 5px solid #999
}

.m-panel-default .m-m-newinp .arrow-bottom .bottom-arrow2 {
    border-top: 5px solid #fff
}

.m-panel-default .inp-box {
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 85px;
    z-index: 99999;
    background: #fff;
    border: 1px solid #ccc;
    width: 350px
}

.m-panel-default .inp-box .inp-hd {
    overflow: hidden;
    border-bottom: 1px solid #ccc
}

.m-panel-default .inp-box .inp-hd li {
    width: auto;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    padding: 0 8px;
    float: left;
    text-align: center;
    border-right: 1px solid #ccc
}

.m-panel-default .inp-box .inp-hd .z-crt {
    background: #ed0a75;
    color: #fff
}

.m-panel-default .inp-box .z-show {
    display: block
}

.m-panel-default .inp-box .z-hide {
    display: none
}

.m-panel-default .inp-box .inp-bd {
    padding-top: 10px;
    max-height: 155px;
    overflow-y: auto
}

.m-panel-default .inp-box .inp-bd .itm {
    float: left
}

.m-panel-default .inp-box .inp-bd .itm dt {
    width: 40px;
    float: left;
    padding-left: 10px
}

.m-panel-default .inp-box .inp-bd .itm dd {
    float: left;
    width: 330px
}

.m-panel-default .inp-box .inp-bd .itm dd li {
    float: left;
    width: auto;
    padding: 0 8px;
    cursor: pointer
}

.m-panel-default .inp-box .inp-bd .itm dd .z-crt {
    background: #ed0a75;
    color: #fff;
    border-radius: 3px
}

.m-panel-default .u-inp {
    height: 22px;
    line-height: 22px
}

.m-panel-gray>.hd {
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px dashed #ececec;
    background-color: #fbfbfb;
    zoom: 1;
    box-shadow: 0 1px 0 #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 20px
}

.m-panel-gray>.hd:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: '.'
}

.m-panel-gray>.hd .tt {
    float: left;
    font-size: 16px;
    color: #666;
    padding-right: 10px
}

.m-panel-gray>.hd .lbox {
    float: left
}

.m-panel-gray>.hd .rbox {
    float: right
}

.m-panel-gray>.hd .rbox a span {
    color: #4d98ba
}

.m-panel-gray>.hd .rbox a:hover {
    color: #4d98ba!important
}

.m-panel-gray>.bd {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fbfbfb;
    padding: 10px 50px
}

.m-panel-gray>.bd .m-form a {
    color: #4d98ba;
    padding: 0 5px
}

.m-panel-gray>.bd .m-m-list li {
    padding: 2px 0
}

.m-panel-gray>.bd .m-m-list li span {
    margin-right: 5px
}

.m-panel-gray>.bd .m-m-list li a {
    color: #4d98ba
}

.m-panel-gray>.bd .m-m-list .z-crt span {
    color: #ed0a75!important
}

.m-panel-gray>.bd .arrow-box {
    overflow: hidden
}

.m-panel-gray>.bd .arrow-box .more-add {
    float: left;
    color: #4d98ba;
    padding-left: 16px
}

.m-panel-gray>.bd .arrow-box .arrow-bottom {
    position: relative;
    float: left
}

.m-panel-gray>.bd .arrow-box .arrow-bottom .bottom {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: 2
}

.m-panel-gray>.bd .arrow-box .arrow-bottom .bottom-arrow1,.m-panel-gray>.bd .arrow-box .arrow-bottom .bottom-arrow2 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border-bottom: 5px dashed transparent;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-top: 5px solid #fff;
    overflow: hidden
}

.m-panel-gray>.bd .arrow-box .arrow-bottom .bottom-arrow1 {
    top: 1px;
    border-top: 5px solid #4d98ba
}

.m-panel-gray>.bd .arrow-box .arrow-bottom .bottom-arrow2 {
    border-top: 5px solid #fff
}

.m-panel-gray>.bd .arrow-box .arrow-top {
    position: relative;
    float: left
}

.m-panel-gray>.bd .arrow-box .arrow-top .top {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2
}

.m-panel-gray>.bd .arrow-box .arrow-top .top-arrow1,.m-panel-gray>.bd .arrow-box .arrow-top .top-arrow2 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border-top: 5px dashed transparent;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-bottom: 5px solid #fff;
    overflow: hidden
}

.m-panel-gray>.bd .arrow-box .arrow-top .top-arrow1 {
    border-bottom: 5px solid #4d98ba
}

.m-panel-gray>.bd .arrow-box .arrow-top .top-arrow2 {
    top: 1px;
    border-bottom: 5px solid #fff
}

.m-panel-red .u-ipt-lg {
    height: 20px;
    line-height: 20px
}

.m-panel-red>.hd {
    zoom: 1;
    border-bottom: 2px solid #ed0a75
}

.m-panel-red>.hd:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: '.'
}

.m-panel-red>.hd .itm {
    float: left;
    font-size: 16px;
    padding: 0 30px;
    line-height: 32px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    margin-right: 5px;
    color: #666;
    border-radius: 5px 5px 0 0;
    cursor: pointer
}

.m-panel-red>.hd .itm.z-crt {
    background: #ed0a75;
    color: #fff;
    display: block;
    border: 1px solid #ed0a75;
    border-bottom: none
}

.m-panel-red>.bd {
    border: 1px solid #ececec;
    border-top: none;
    padding: 10px
}

.m-panel-red .z-hide {
    display: none
}

.m-panel-red .z-show {
    display: block
}

.m-panel-red .loading-box {
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/sta_p_1.png') no-repeat scroll 0;
    padding: 30px 30px 30px 50px;
    margin: 30px 0 30px 350px;
    color: #333;
    line-height: 25px
}

.m-panel-red .m-l-stretch {
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto
}

.m-panel-red .m-l-stretch .c10 {
    color: #ed0a75
}

.m-panel-red .m-l-stretch .lst {
    padding: 20px 20px 0 10px;
    overflow: hidden
}

.m-panel-red .m-l-stretch .lst .itm {
    display: block;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/coupon.png') no-repeat;
    background-position: 0 0;
    width: 278px;
    height: 68px;
    float: left;
    margin-left: 15px;
    position: relative;
    margin-bottom: 28px
}

.m-panel-red .m-l-stretch .lst .itm.z-crt {
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/coupon.png') no-repeat;
    background-position: 0 -69px
}

.m-panel-red .m-l-stretch .lst .itm.z-crt .correct {
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/dui.png') no-repeat;
    width: 24px;
    height: 26px;
    position: absolute;
    right: 0;
    bottom: -1px
}

.m-panel-red .m-l-stretch .lst .itm .txt {
    position: absolute;
    left: 66px;
    top: 23px;
    bottom: 14px;
    padding-right: 5px
}

.m-panel-red .m-l-stretch .lst .itm .txt .l-t {
    font-size: 14px;
    color: #656565
}

.m-panel-red .hint {
    color: #666;
    margin-left: 22px;
    margin-bottom: 21px;
    width: 650px
}

.m-panel-red .hint .c10 {
    color: #ed0a75
}

.m-panel-red .m-l-score {
    padding: 20px 20px 20px 30px
}

.m-panel-red .m-l-score .l-t {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px
}

.m-panel .lab-s {
    float: left
}

.m-panel-realname>.hd {
    position: relative;
    border-bottom: 2px solid #d7d7d7
}

.m-panel-realname>.hd:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 0;
    width: 154px;
    border-bottom: 2px solid #ed0a75
}

.m-panel-realname>.hd .tt {
    color: #ed0a75;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px
}

.m-panel-realname>.bd {
    padding-top: 10px
}

.m-panel-realname .m-rea-t1 {
    border: 1px solid #ffdfb7;
    background: #fff url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/i.png') no-repeat -179px -618px;
    margin-top: 10px;
    padding-left: 25px;
    width: auto;
    display: inline-flex;
    padding-right: 20px
}

.m-panel .new-hd {
    border-top: none!important
}

.m-panel .new-hd .tt {
    padding-left: 52px;
    font-size: 14px
}

.m-panel-invoice {
    overflow: visible;
    width: 940px!important
}

.ico-danger,.ico-succ,.ico-warn {
    padding-right: 3px!important
}

.addStreetRegion,.streetRegion {
    vertical-align: middle
}

.m-panel .m-discount .row {
    padding: 0!important
}

.m-loading {
    text-align: center;
    padding: 30px 0;
    color: #fff
}

.m-loading .load-pic {
    width: 41px;
    height: 45px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/loading.gif') no-repeat 50%;
    display: inline-block;
    vertical-align: middle
}

.m-loading dd {
    display: inline-block;
    padding-left: 10px
}

.m-success {
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: \5b8b\4f53;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/pay_Ok.gif') 200px 30px no-repeat
}

.m-success .hd {
    padding-left: 290px
}

.m-success .hd .tt {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px
}

.m-success .hd .tt b {
    color: #ed0a75;
    padding: 0 5px
}

.m-success .hd .tt1 {
    color: #ed0a75;
    line-height: 28px
}

.m-success .hd .btn_ssina {
    width: 161px;
    height: 35px;
    display: inline-block;
    margin: 5px 0;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/btn_sharesina-h.png') no-repeat 0 0
}

.m-success .bd {
    padding: 8px 10px;
    border: 1px solid #ffc046;
    background: #fffacf;
    margin-top: 5px;
    color: #666;
    width: 50%;
    margin: 0 auto
}

.m-success .bd a {
    color: #4d98ba;
    text-decoration: underline
}

.m-success .ad {
    margin: 20px 0;
    margin-right: 10px
}

.m-success .ad,.m-success .ad1 {
    width: 395px;
    height: 80px;
    display: block;
    float: left
}

.m-success .ad1 {
    margin: 20px 0
}

.m-success-1 {
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: \5b8b\4f53;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/m-success-1.png') 200px 30px no-repeat
}

.m-success-1 .hd {
    padding-left: 290px;
    padding-bottom: 25px
}

.m-success-1 .hd .tt {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px
}

.m-success-1 .hd .tt b {
    color: #ed0a75;
    padding: 0 5px
}

.m-success-1 .hd .tt1 {
    color: #ed0a75;
    line-height: 28px
}

.m-success-1 .hd .btn_ssina {
    width: 161px;
    height: 35px;
    display: inline-block;
    margin: 5px 0;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/btn_sharesina-h.png') no-repeat 0 0
}

.m-success-1 .bd {
    padding: 8px 10px;
    border: 1px solid #ffc046;
    background: #fffacf;
    margin-top: 5px;
    color: #666;
    width: 50%;
    margin: 0 auto
}

.m-success-1 .bd a {
    color: #4d98ba;
    text-decoration: underline
}

.m-success-1 .ad {
    margin: 20px 0;
    margin-right: 10px
}

.m-success-1 .ad,.m-success-1 .ad1 {
    width: 395px;
    height: 80px;
    display: block;
    float: left
}

.m-success-1 .ad1 {
    margin: 20px 0
}

.m-paysuccess {
    padding: 30px 0;
    font-family: \5b8b\4f53;
    background: #fff url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/shop.png') 0 -80px repeat-x;
    margin-top: -1px
}

.m-paysuccess .hd {
    padding: 0 0 20px 160px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/qp-right.png') 70px 0 no-repeat
}

.m-paysuccess .hd .tt {
    font-size: 22px;
    line-height: 28px;
    color: #ed0a75;
    font-weight: 700
}

.m-paysuccess .hd .tt1 {
    color: #666;
    line-height: 28px
}

.m-paysuccess .hd .tt2 {
    color: #666
}

.m-paysuccess .hd .tt2 a {
    color: #4d98ba;
    padding: 0 5px;
    text-decoration: underline
}

.m-paysuccess .bd {
    border-top: 1px dashed #d3d3d3;
    margin: 0 30px;
    margin-top: 5px;
    color: #666;
    padding-top: 20px;
    text-align: center
}

.m-paysuccess .bd .ut1 {
    font-size: 24px;
    color: #999;
    font-family: \\9ED1\4F53
}

.m-paysuccess .bd .ut2 {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 60px;
    color: #ed0a75;
    padding: 10px 0
}

.m-paysuccess .bd .ut3 {
    font-size: 16px;
    color: #999
}

.m-paysuccess .bd .share-sina {
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/s-sina.png') no-repeat;
    width: 149px;
    height: 40px;
    display: block;
    margin: 20px auto
}

.m-paysuccess .bd .tips {
    border: 1px solid #ffa461;
    background: #ffffe1 url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/new_tips.png') no-repeat;
    padding: 5px 40px 5px 30px;
    background-position: 5px 3px;
    display: block;
    margin: 0 125px 30px;
    text-align: left
}

.m-paysuccess .ad {
    margin: 20px 0;
    margin-right: 10px
}

.m-paysuccess .ad,.m-paysuccess .ad1 {
    width: 395px;
    height: 80px;
    display: block;
    float: left
}

.m-paysuccess .ad1 {
    margin: 20px 0
}

.m-grabseat {
    padding: 30px 0;
    font-family: \5b8b\4f53;
    background: #fff url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/shop.png') 0 -80px repeat-x;
    margin-top: -1px
}

.m-grabseat .hd {
    padding: 0 0 20px 80px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/grabseat-pic.png') 30px 0 no-repeat
}

.m-grabseat .hd .tt {
    font-size: 24px;
    line-height: 30px;
    color: #ed0a75;
    font-weight: 700
}

.m-grabseat .bd {
    border-top: 1px dashed #d3d3d3;
    margin: 0 30px;
    color: #666;
    padding-top: 20px
}

.m-grabseat .bd .bd-tt {
    background: #f7fcff;
    padding: 10px;
    border: 1px solid #e6e6e6;
    text-align: left
}

.m-grabseat .bd .bd-t1 {
    line-height: 25px
}

.m-grabseat .bd .bd-t1 a {
    color: #4d98ba;
    text-decoration: underline
}

.m-grabseat .bd .bd-t2 {
    line-height: 25px;
    margin-top: 20px
}

.m-grabseat .bd .tips {
    border: 1px solid #ffa461;
    background: #ffffe1 url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/qg-ic.png') no-repeat;
    padding: 5px 40px 5px 30px;
    display: block;
    margin: 20px 0 30px;
    text-align: left;
    width: 35%;
    background-position: 5px 3px
}

.m-grabseat .bd .tips a {
    color: #4d98ba
}

.m-grabseat .ad {
    margin-right: 10px
}

.m-grabseat .ad,.m-grabseat .ad1 {
    width: 395px;
    height: 80px;
    display: block;
    margin-bottom: 20px;
    float: left
}

.m-abnormal {
    width: 380px;
    margin: 0 auto;
    padding: 30px 0;
    font-family: \5b8b\4f53;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/pay_Error.gif') 0 30px no-repeat
}

.m-abnormal .hd {
    padding: 0 0 20px 80px
}

.m-abnormal .hd dd {
    color: #ed0a75;
    font-size: 24px;
    font-weight: 700
}

.m-abnormal .hd .tt {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    font-weight: 400;
    color: #000;
    padding-bottom: 10px
}

.m-abnormal .bd {
    margin: 0 30px;
    color: #666;
    padding-top: 20px
}

.m-abnormal .bd .m-btn-return {
    width: 143px;
    height: 30px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/m_btn_two.png') 0 0 no-repeat;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 0 auto
}

.m-abnormal .bd .m-btn-return:hover {
    background-position: 0 -28px
}

.m-crm {
    display: block;
    overflow: hidden;
    padding: 10px 0
}

.m-panel-realname .hd {
    margin-top: 10px
}

.m-panel-realname .bd {
    padding: 0
}

.m-panel-realname .form {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 5px;
    background: #f9f9f9;
    zoom: 1
}

.m-panel-realname .form .t,.m-panel-realname .form .t1 {
    padding: 2px 5px;
    border: 1px solid #bbb
}

.m-panel-realname .form .t1 {
    width: 260px;
    margin-right: 10px
}

.m-panel-realname .from-1 .lst-1 {
    display: inline-block
}

.m-panel-realname .from-1 .lst-1 .lab {
    margin-right: 30px
}

.m-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50)
}

.m-mask.z-show {
    display: block
}

.m-mask.z-hide {
    display: none
}

.m-mask1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: #fff;
    opacity: .5;
    filter: alpha(opacity=50)
}

.m-mask1.z-show {
    display: block
}

.m-mask1.z-hide {
    display: none
}

.m-modal {
    font-family: \\5FAE\8F6F\96C5\9ED1
}

.m-modal .hd {
    border-bottom: 1px solid #ececec;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    background: #f6f6f6;
    overflow: hidden
}

.m-modal .f-t1 {
    color: #ed0a75;
    padding-left: 85px
}

.m-modal>.box {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 2001
}

.m-modal-lg>.box {
    width: 700px;
    margin-left: -350px
}

.m-modal-xl>.box {
    width: 400px;
    margin-left: -200px
}

.m-modal-sm>.box {
    width: 550px;
    margin-left: -250px
}

.m-modal-xs>.box {
    width: 300px;
    margin-left: -150px
}

.m-modal .close {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/close.png') no-repeat 0
}

.m-modal .hd .tt {
    margin-left: auto;
    margin-right: auto;
    height: 51px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    background: #f6f6f6
}

.m-modal .hd .tt .utt {
    display: block;
    width: 147px;
    height: 51px;
    font-size: 14px;
    text-indent: 20px;
    float: left
}

.m-modal .hd .tt-td {
    margin-left: auto;
    margin-right: auto;
    height: 51px;
    line-height: 50px
}

.m-modal>.box {
    background: #fff
}

.m-modal button {
    margin-right: 10px
}

.m-modal .code {
    border: 1px solid #e3e3e3
}

.m-modal .code .code-td {
    border: 1px solid #ffcc8b;
    background: #fffaed;
    color: #888;
    padding: 5px;
    margin: 0 auto 15px;
    width: 305px
}

.m-modal .code .bd {
    margin-top: 25px;
    text-align: center
}

.m-modal .code .bd .utt {
    height: 25px;
    line-height: 25px;
    padding: 0 0 20px;
    font-size: 14px;
    text-align: center
}

.m-modal .code .code-form {
    height: 35px;
    line-height: 32px;
    margin-bottom: 20px;
    width: 290px;
    margin: 0 auto 10px
}

.m-modal .code .code-form button {
    padding: 2px 30px
}

.m-modal .code .code-form .code-ewm {
    display: block;
    width: 149px;
    height: 33px;
    border: 1px solid #dfdfdf;
    float: left;
    margin-right: 10px;
    text-indent: 10px;
    font-family: \\5FAE\8F6F\96C5\9ED1
}

.m-modal .code .code-form .code-link {
    color: #ed0a75;
    float: left
}

.m-modal .code .code-form .code-utt {
    color: #999
}

.m-modal .invoice {
    overflow: none
}

.m-modal .invoice input {
    height: 25px;
    line-height: 25px
}

.m-modal .invoice .bd {
    margin-top: 20px;
    padding-left: 40px
}

.m-modal .invoice .bd .lab {
    width: 86px;
    text-align: right;
    color: #333;
    float: left;
    font-size: 14px
}

.m-modal .invoice .bd .itm-sel,.m-modal .invoice .bd .itm-text {
    padding: 2px 5px;
    margin-right: 5px
}

.m-modal .invoice .bd .ipt {
    position: relative
}

.m-modal .invoice .bd .itm {
    margin-bottom: 15px
}

.m-modal .invoice .bd .invoice-form {
    text-align: left;
    margin-left: 86px
}

.m-modal .invoice .bd .invoice-form button {
    padding: 3px 20px
}

.m-modal .invoice .bd .invoice-form .u-btn-c2 {
    margin: 0 auto 20px
}

.m-modal .invoice .bd .inp-box {
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 85px;
    z-index: 99999;
    background: #fff;
    border: 1px solid #ccc;
    width: 350px
}

.m-modal .invoice .bd .inp-box .inp-hd {
    overflow: hidden;
    border-bottom: 1px solid #ccc
}

.m-modal .invoice .bd .inp-box .inp-hd li {
    width: auto;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    padding: 0 8px;
    float: left;
    text-align: center;
    border-right: 1px solid #ccc;
    font-size: 14px
}

.m-modal .invoice .bd .inp-box .inp-hd .z-crt {
    background: #ed0a75;
    color: #fff;
    font-size: 14px
}

.m-modal .invoice .bd .inp-box .z-show {
    display: block
}

.m-modal .invoice .bd .inp-box .z-hide {
    display: none
}

.m-modal .invoice .bd .inp-box .inp-bd {
    padding-top: 10px;
    height: 200px;
    overflow-y: auto
}

.m-modal .invoice .bd .inp-box .inp-bd .itm {
    float: left
}

.m-modal .invoice .bd .inp-box .inp-bd .itm dt {
    width: 40px;
    float: left;
    padding-left: 10px
}

.m-modal .invoice .bd .inp-box .inp-bd .itm dd {
    float: left;
    width: 330px
}

.m-modal .invoice .bd .inp-box .inp-bd .itm dd li {
    float: left;
    width: auto;
    padding: 0 8px;
    cursor: pointer;
    font-size: 14px
}

.m-modal .invoice .bd .inp-box .inp-bd .itm dd .z-crt {
    background: #ed0a75;
    color: #fff;
    border-radius: 3px;
    font-size: 14px
}

.m-modal .invoice .bd .m-m-newinp {
    height: 25px;
    line-height: 25px;
    margin-left: 86px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    vertical-align: middle
}

.m-modal .invoice .bd .m-m-newinp .arrow-bottom {
    position: relative;
    float: right
}

.m-modal .invoice .bd .m-m-newinp .arrow-bottom .bottom {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -2px;
    top: 7px;
    z-index: 2
}

.m-modal .invoice .bd .m-m-newinp .arrow-bottom .bottom-arrow1,.m-modal .invoice .bd .m-m-newinp .arrow-bottom .bottom-arrow2 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border-bottom: 5px dashed transparent;
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-top: 5px solid #fff;
    overflow: hidden
}

.m-modal .invoice .bd .m-m-newinp .arrow-bottom .bottom-arrow1 {
    top: 1px;
    border-top: 5px solid #999
}

.m-modal .invoice .bd .m-m-newinp .arrow-bottom .bottom-arrow2 {
    border-top: 5px solid #fff
}

.m-modal .onevote {
    overflow-y: hidden
}

.m-modal .onevote .one-notadd {
    text-align: center;
    overflow: hidden;
    padding: 30px 0;
    width: 100%
}

.m-modal .onevote .one-form {
    margin-top: 20px;
    padding-left: 22px
}

.m-modal .onevote .one-form .one-f-t1 {
    width: 80px;
    text-align: right;
    float: left
}

.m-modal .onevote .one-form .one-ewm,.m-modal .onevote .one-form .one-sel {
    padding: 2px 5px;
    border: 1px solid #bbb;
    margin: 0 8px
}

.m-modal .onevote .one-form .one-sel {
    margin-bottom: 20px
}

.m-modal .onevote .one-form .one-link {
    color: #ed0a75;
    margin-right: 5px
}

.m-modal .onevote .one-form .one-link-1 {
    color: #4d98ba
}

.m-modal .onevote .one-form .u-btn-add {
    padding-left: 5px;
    padding-bottom: 2px;
    padding: 5px 30px;
    float: right
}

.m-modal .onevote .one-form .m-ut1 {
    width: 143px
}

.m-modal .onevote .one-hd {
    overflow: hidden;
    border-bottom: 1px solid #ccc
}

.m-modal .onevote .one-hd a {
    float: right;
    margin: 0 15px 15px 0
}

.m-modal .onevote .one-table {
    padding: 10px 22px
}

.m-modal .onevote .one-table .z-crt td {
    background: #fff5f7
}

.m-modal .onevote .one-table .one-link {
    margin-top: 10px;
    color: #ed0a75
}

.m-modal .onevote .one-table .one-link-2 {
    border: 1px solid #ffcc8b;
    padding: 5px;
    margin: 5px 0;
    display: inline-block
}

.m-modal .onevote .one-table .one-tb {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden
}

.m-modal .onevote .one-table .one-tb .m-table {
    width: 100%;
    margin-top: 20px
}

.m-modal .onevote .one-btn {
    margin-right: 15px;
    margin-bottom: 20px;
    float: right
}

.m-modal .onevote .ft {
    margin: 20px 10px;
    float: right
}

.m-modal .onevote .ft .u-btn-c5 {
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 34px;
    background-color: #ed0a75;
    font-size: 14px;
    width: 124px;
    height: 34px
}

.m-modal .onevote .ft .u-btn-c5.z-dis {
    background-color: #bbb
}

.m-modal .onevote .ft .txt {
    color: #ec7083;
    margin-right: 10px
}

.m-modal .onevote .ft .txt.z-dis {
    color: #bbb
}

.m-modal .m-loading {
    width: 150px;
    height: 140px;
    background: #fff url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/m-loading.gif') no-repeat 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -105px 0 0 -84px;
    border-radius: 5px;
    color: #fff
}

.m-modal .m-loading p {
    position: absolute;
    bottom: 30px;
    text-align: center;
    color: #ed0a75;
    left: 50%;
    margin: -15px 0 0 -40px
}

.m-modal .m-loading_globle {
    width: 150px;
    height: 140px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/m-loading.gif') no-repeat 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 180px 0 0 -84px;
    border-radius: 5px
}

.m-modal .m-loading_globle p {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ed0a75;
    left: 50%;
    margin: -15px 0 0 -40px
}

.w700 {
    width: 700px
}

.bgpaylayer {
    padding: 15px 35px;
    background: #fff;
    border: 6px solid #b8b8b8
}

.bgpaylayer .close {
    width: 14px;
    height: 13px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(//dui.dmcdn.cn/shopping/images/close.png) no-repeat;
    text-indent: -9999px;
    outline: none;
    display: block
}

.bgpaylayer h2 {
    padding-left: 0;
    background: none;
    height: 40px;
    margin-bottom: 15px;
    line-height: 40px
}

.bgpaylayer a,.bgpaylayer h2 {
    text-align: center;
    font-size: 14px
}

.bgpaylayer a {
    float: left;
    width: auto;
    height: 29px;
    color: #333;
    margin: 0 5px
}

.ticket-shares {
    padding-left: 160px;
    font-family: Microsoft YaHei;
    font-size: 24px;
    color: #333;
    height: 35px;
    line-height: 30px;
    display: block
}

.share-ticket img {
    max-width: 565px;
    _width: 565px;
    max-height: 300px;
    _height: 300px;
    float: right
}

.p-share {
    margin-bottom: 15px;
    position: relative
}

.share-ticket {
    width: 565px;
    float: left;
    position: relative
}

.p-share .share-select {
    position: absolute;
    bottom: 10px;
    left: 575px
}

.floatleft {
    float: left
}

.modifyStreetRegion {
    vertical-align: middle
}

.m-dropdown-address {
    position: absolute;
    top: 5px;
    left: 0
}

.m-boder {
    border: 1px solid #ddd;
    overflow: hidden
}

.m-header {
    zoom: 1;
    width: 960px;
    margin: 20px auto 16px
}

.m-header:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: '.'
}

.m-header .logo,.m-header .progress {
    float: left
}

.m-header .logo {
    margin-right: 10px
}

.m-header .progress {
    padding-top: 18px
}

.m-header-1 {
    font-family: \5b8b\4f53
}

.m-header-1 .bd {
    height: 50px;
    margin: -1px auto 0;
    padding-bottom: 30px;
    background: #fff url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/shop.png') 0 -80px repeat-x;
    padding: 20px 80px
}

.m-header-1 .bd li {
    float: left;
    width: 110px
}

.m-header-1 .bd .mn {
    font-size: 14px
}

.m-header-1 .bd .mn .tt {
    color: #acacac;
    width: 110px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px
}

.m-header-1 .bd .mn .s-on {
    color: #ed0a75
}

.m-header-1 .bd .mn .img,.m-header-1 .bd .mn .on {
    height: 19px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/m-header-1.png') no-repeat 50px -22px;
    font-size: 0
}

.m-header-1 .bd .mn .on {
    background-position: 50px 0
}

.m-header-1 .sd {
    font-size: 12px
}

.m-header-1 .sd .tt {
    color: #acacac;
    width: 110px;
    height: 25px;
    line-height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 5px
}

.m-header-1 .sd .s-on {
    color: #ed0a75
}

.m-header-1 .sd .img,.m-header-1 .sd .on {
    height: 17px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/m-header-1.png') no-repeat -109px -39px;
    font-size: 0
}

.m-header-1 .sd .on {
    background-position: 0 -39px
}

.m-delivery .z-show {
    display: block
}

.m-delivery .z-hide {
    display: none
}

.m-delivery>.hd {
    text-align: center;
    padding: 10px 0
}

.m-delivery>.hd .txt {
    text-align: center;
    padding-left: 0!important;
    padding-top: 4px
}

.m-delivery>.hd .itm {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    width: 20%;
    vertical-align: top;
    cursor: pointer;
    text-align: center
}

.m-delivery>.hd .txt {
    display: block;
    color: #ed0a75;
    text-align: center;
    margin-top: -8px
}

.m-delivery>.hd .ico {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.m-delivery>.hd .z-crt .ico-idticket {
    background-position: -78px -312px
}

.m-delivery>.hd .z-crt .ico-codeticket {
    background-position: -78px 0
}

.m-delivery>.hd .z-crt .ico-express {
    background-position: -78px -78px
}

.m-delivery>.hd .z-crt .ico-pickup {
    background-position: -78px -156px
}

.m-delivery>.hd .z-crt:after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    z-index: 1;
    margin-left: -11.5px;
    width: 23px;
    height: 13px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/i.png') no-repeat -177px -367px;
    overflow: hidden
}

.m-delivery-1>.hd {
    text-align: left
}

.m-delivery-1>.hd .itm {
    display: block;
    width: 100px
}

.m-discount {
    padding: 5px 15px
}

.m-discount .row {
    line-height: 24px;
    padding: 3px 0;
    vertical-align: text-top
}

.m-discount>.hd {
    padding-bottom: 15px
}

.m-discount>.bd {
    padding: 20px 0;
    border-top: 1px solid #c3c3c3;
    text-align: right
}

.m-discount>.ft {
    padding: 20px 0;
    border-top: 1px dashed #c3c3c3;
    text-align: right
}

.m-discount>.ft input {
    position: relative;
    top: 2px;
    margin-right: 10px
}

.m-discount>.ft .row {
    padding-bottom: 10px
}

.m-discount .txt-total {
    font-weight: 700;
    font-size: 14px;
    color: #444
}

.m-discount .cell {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #ed0a75;
    width: 90px;
    text-align: right
}

.m-discount .tips {
    width: 120px;
    color: #666
}

.m-discount .tips-warn {
    padding: 3px 7px;
    border: 1px solid #ffbdc7;
    background-color: #ffebe9
}

.m-discount .tips-dang {
    height: 30px;
    line-height: 30px;
    color: #ed0a75
}

.m-newloading {
    padding: 50px 0;
    width: 450px;
    margin: 0 auto
}

.m-newloading .m-newloading-img {
    width: 205px;
    height: 151px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/new-loading.png') 0 0 no-repeat
}

.m-newloading .m-newloading-tt {
    text-align: center;
    font-size: 18px
}

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.z-hide {
    display: none
}

.m-tabs .z-show,.z-show {
    display: block
}

.m-tabs .z-hide {
    display: none
}

.m-tabs .hd {
    text-align: center;
    padding: 10px 0
}

.m-tabs .hd .itm {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    width: 20%;
    vertical-align: top;
    cursor: pointer
}

.m-tabs .hd .txt {
    display: block;
    color: #ed0a75;
    text-align: center;
    margin-top: -8px
}

.m-tabs .hd .ico {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.m-tabs .hd .z-crt .ico-express {
    background-position: -78px -78px
}

.m-tabs .hd .z-crt .ico-pickup {
    background-position: -78px -156px
}

.m-tabs .hd .z-crt:after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    z-index: 1;
    margin-left: -11.5px;
    width: 23px;
    height: 13px;
    background: url('//dui.dmcdn.cn/dm_trade_system/multi/pc/common/images/i.png') no-repeat -177px -367px;
    overflow: hidden
}

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.z-hide {
    display: none
}

.z-show {
    display: block
}